//Provided Colors from Design
$main-purple: #7758a3;
$main-turquoise: #72c2be;
$main-pink: #e63e6b;

$light-gray: #9b9b9b;
$dark-gray: #828282;

$main-purple-hover: #953160;
$secondary-purple: #514ef2;
