@use '@sass/colors.scss' as *;
@use '@sass/fonts.scss' as *;

$tabs-margin-bottom: 5rem;
$tabs-container-overflow: 5rem;

.sections {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 3rem;

  &__box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 50%;
    border-radius: 20px;
    overflow: hidden;
    transition: all 1s ease-in-out;

    &1 {
      background: url('../../../_assets/pictures/nutricion-a-domicilio.webp');
      background-size: 150%;
      background-position: center;
    }

    &2 {
      background: url('../../../_assets/pictures/etapas2.webp');
      background-size: 180%;
      background-position: center;
    }

    &3 {
      background: url('../../../_assets/pictures/menu.webp');
      background-size: 150%;
      background-position: center;
    }

    &4 {
      background: url('../../../_assets/pictures/nutricion-colectividades.webp');
      background-size: 150%;
      background-position: center;
    }

    &:not(.disable-hover):hover {
      cursor: pointer;
      background-size: 200%;

      h2 {
        color: transparent;
      }

      > .sections__content {
        top: 0;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); // Adjust the alpha value for darkness
      border-radius: 20px;
      z-index: 1; // Ensure the overlay is behind the content

      filter: brightness(0.8); // Adjust the brightness as needed
    }

    h2 {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 2rem;
      text-align: center;
      cursor: pointer;
      z-index: 2;
      transition: all 0.5s ease-in-out;
      padding: 0rem 2rem;
      text-wrap: balance;
    }
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 3;
    transition: all 0.5s ease-in-out;
    color: $main-purple;

    &-description {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      padding: 2rem 1rem;
      height: 100%;
    }

    h3 {
      font-size: 1.2rem;
      padding-bottom: 1rem;
      font-weight: bold;
      text-wrap: balance;
    }

    p {
      font-size: clamp(1rem, -1.3875rem + 4.6vw, 1.2rem);
      margin-bottom: 3rem;
    }

    button {
      height: 2rem;
      font-family: $forum;
      width: fit-content;
      padding: 0 3rem;
      font-size: 1rem;
      border-radius: 10rem;
      border: none;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      background-color: $main-purple;
      background: linear-gradient(
        90deg,
        rgba(14, 104, 53, 1) 50%,
        rgba(136, 189, 48, 1) 100%
      );
      background-size: 200% 100%;

      &:hover {
        background-position: 100% 50%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .sections {
    flex-direction: column;
    &__box {
      animation: none;
      width: 100%;
      height: 10rem;
      background-size: cover;
      background-position: center;

      &:hover {
        background-size: 100%;

        h2 {
          color: white;
        }

        > .sections__content {
          top: 100%;
        }
      }
    }

    p {
      margin-bottom: 2rem;
    }
  }
}
