.contacto {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 6rem;

  h1 {
    font-size: 3rem;
    color: var(--main-purple);
    padding: 2rem 0;
  }

  .form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: hidden;

    input,
    textarea {
      display: inline-block;
      font-size: 1.1rem;
      color: var(--main-purple);
      border: none;
      width: 90%;
      background-color: var(--main-purple-light);
      display: inline-block;
      border-radius: 1rem;
      padding: 1rem;

      resize: none;
    }

    textarea {
      height: 10rem;
    }

    button {
      height: 3rem;
      width: 50%;
      font-size: 1.2rem;
      border-radius: 10rem;
      border: none;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      background-color: var(--main-purple);
      background: linear-gradient(
        90deg,
        var(--main-purple) 50%,
        var(--main-purple-hover) 100%
      );
      background-size: 200% 100%;

      &:hover {
        background-position: 100% 50%;
      }
    }
  }

  .image-section {
    position: relative;
    height: 50rem;
  }

  .image {
    position: relative;

    grid-area: image;

    height: 60rem;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1280px) {
  .main-layout:has(.contacto) {
    padding: 0rem;
  }

  .contacto {
    display: flex;
    flex-direction: column-reverse;

    .form-section {
      width: 100vw;
      height: 100%;
      overflow: hidden;

      h1 {
        margin-top: 3rem;
        padding: 0;
        padding-left: 1rem;
      }

      form {
        padding: 2rem 1rem;
      }
    }

    .image-section {
      height: 10rem;
      width: 100%;
    }
  }
}
