@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --main-purple-light: #5e1e3c44;

  --main-purple: #7758a3;
  --main-purple-hover: #6134a0;
  --main-turquoise: #72c2be;
  --main-pink: #e63e6b;

  --light-gray: #9b9b9b;
  --dark-gray: #828282;
  --input-gray: #b5b4b4;
  --input-write-gray: #d9d9d9;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-lexend);
}

p,
span,
a {
  font-family: var(--font-open-sans);
}
