@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --main-purple: #5e1e3c;
  --main-purple-hover: #953160;
  --main-purple-light: #5e1e3c44;

  --main-turquoise: #78bfbf;
}

body {
  font-family: var(--font-open-sans);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
