.cardSection {
  display: grid;
  grid-template-areas:
    'card1 card2'
    'card3 card2';
  grid-template-columns: 60% 40%;
  grid-template-rows: 15rem 15rem;
  gap: 1rem;
  width: calc(100% - 1rem);
  margin-bottom: 5rem;

  .text-content {
    position: absolute;
    z-index: 2;
    padding: 1rem;
    line-height: normal;

    h2 {
      color: white;
      font-size: 3rem;
      padding-bottom: 0.5rem;
    }

    p {
      opacity: 0;
      color: white;
      transition: all 0.3s ease-in-out;
      max-width: 30rem;
    }
  }

  .card {
    position: relative;
    transition: all 0.3s ease-in-out;
  }

  .card1 {
    grid-area: card1;

    padding: 1rem;

    border-radius: 32px;
    background: url(../../_assets/pictures/humanity.webp);
    background-size: cover;
    background-position: 0 30%;
  }

  .card2 {
    grid-area: card2;
    padding: 1rem;

    border-radius: 32px;
    background: url(../../_assets/pictures/innovation.webp);
    background-size: cover;
    background-position: 50% 0;
  }

  .card3 {
    position: relative;
    grid-area: card3;

    padding: 1rem;

    border-radius: 32px;
    background: url(../../_assets/pictures/determination.webp);
    background-position: 0 25%;
    background-size: 100%;
  }
}

.cardSection:hover .card:not(:hover) {
  filter: brightness(0.6);
}

.cardSection:hover .card:hover {
  cursor: pointer;

  p {
    opacity: 1;
  }
}

@media (width < 1200px) {
  .cardSection {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 20rem);
    grid-template-areas: 'card1' 'card2' 'card3';

    .text-content {
      h2 {
        font-size: 2rem;
      }
      p {
        opacity: 1;
      }
    }

    .card1,
    .card2,
    .card3 {
      display: flex;
      align-items: flex-end;
    }

    .card1 {
      background-position: right;
    }

    .card2 {
      background-position: 0 50%;
    }

    .card3 {
      background-position: bottom;
    }
  }

  .cardSection:hover .card:not(:hover) {
    filter: brightness(1);
  }
}

@media (width < 500px) {
  .cardSection {
    .card1 {
      background-size: 150%;
      background-position: 40% 50%;
    }
    .card2 {
      background-size: 100%;
      background-position: 0% 60%;
    }
    .card3 {
      background-size: 150%;
      background-position: 50% 100%;
    }
  }
}
