@use '@sass/colors.scss' as *;

.headline {
  margin-bottom: 3rem;

  &__title {
    color: $main-purple;
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.2rem;
  }
}

@media (max-width: 1100px) {
  .headline {
    margin-bottom: 1rem;

    &__title {
      font-size: 3rem;
    }
  }
}
