@use '@sass/colors.scss' as *;

.headline {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  text-wrap: balance;
  text-align: center;

  h2,
  h3,
  h4 {
    font-weight: 200;
  }

  &__title {
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2rem;
  }

  &__subtitle {
    font-size: 1.2rem;
  }

  strong {
    font-weight: bold;
  }
}

@media (max-width: 1100px) {
  .headline {
    margin-bottom: 1rem;

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1.25rem;
    }
  }
}
