.team-cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 25rem;
  gap: 1rem;
  padding: 1rem;

  .team-member-card {
    position: relative;
    background-color: red;
  }
}
