.team-cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 25rem;
  gap: 1rem;
  padding: 1rem;

  .team-member-card {
    position: relative;
    border-radius: 32px;
    overflow: hidden;

    .text-content {
      position: absolute;
      height: 100%;
      top: 315px;
      color: white;
      padding: 1rem;
      transition: all 0.3s ease-in-out;
      background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 100%,
        transparent 100%
      );

      h2 {
        font-size: 1.8rem;
      }

      h3 {
        font-size: 1.5rem;
        /* color: var(--main-purple-hover); */
        color: #ccc;
        transition: all 1s ease-in-out;
      }
    }

    .hover-image {
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    .hover-image::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--main-purple);
      opacity: 0.7;
    }

    .description {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      line-clamp: 5;
      -webkit-box-orient: vertical;
      margin-bottom: 1rem;
    }
  }

  .team-member-card:hover .text-content {
    top: 35%;
  }

  /* .team-member-card:hover h3 {
    font-size: 1.5rem;
    color: white;
  } */

  .team-member-card:hover .hover-image {
    opacity: 1;
  }
}
