.team-cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 1rem;
  padding: 1rem;

  .team-member-card {
    .text-content {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      z-index: 1;
      color: white;
      transform: translateY(-20%);
      transition: all 0.4s ease-in-out;

      .description {
        font-size: 0.9rem;
        overflow: hidden;
        padding: 0 1rem;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        line-clamp: 5;
        -webkit-box-orient: vertical;
        margin-bottom: 1rem;
      }
    }

    .title {
      padding-top: 1rem;
      font-size: 1.2rem;

      h2 {
        font-weight: 600;
      }

      h3 {
        font-weight: 400;
      }

      background-image: none;
    }

    .content-wrapper {
      position: relative;
      aspect-ratio: 1/1;
      overflow: hidden; /* Hide the overflow of the description text */
    }

    .team-shape {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;

      transform: translateY(100%);
      transition: transform 0.3s ease;
      will-change: transform, opacity;
    }

    .linkedinIcon {
      position: absolute;
      bottom: 8rem;
      right: 1rem;
      z-index: 1;

      transform: translateY(20rem);
      transition: transform 0.3s ease;
      will-change: transform, opacity;
    }
  }

  .profile-image {
    height: 300px;
    img {
      filter: grayscale(100%);
    }
  }

  .team-member-card:hover .text-content {
    transform: translateY(-20%);
  }

  .team-member-card:hover .team-shape {
    transform: translateY(0%);
    opacity: 0.7;
  }

  .team-member-card:hover .linkedinIcon {
    transform: translateY(0%);
    opacity: 1;
  }

  .team-member-card:hover .hover-image {
    opacity: 1;
  }

  .team-member-card:hover .title {
    h2 {
      color: #13505b;
    }
    h3 {
      color: #13505b;
      opacity: 0.6;
    }
  }

  .team-member-card:hover .profile-image img {
    filter: grayscale(0%);
  }
}

/* @media (width < 768px) {
  .team-cards-section {
    grid-auto-rows: 35rem;

    .team-member-card {
      .profile-image {
        img {
          height: 70% !important;
        }

        &::after {
          background-image: none;
        }
      }
    }
  }
} */
