.partnerLogos {
  filter: grayscale(1);
  opacity: 0.6;
  display: flex;
  flex-flow: wrap;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.partnerLogoWrapper {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width < 768px) {
  .partnerLogos {
    padding: 1rem;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
}
