@use '@sass/colors.scss' as *;

.createdBy {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: #ffffff;
  color: var(--main-pink);
  padding: 1rem;
  font-weight: bold;
}

.createdBy p {
  font-weight: 500;
}

.createdBy a {
  color: var(--main-pink);
  font-weight: 700;
  transition: all 300ms ease-in-out;

  &:hover {
    color: var(--main-pink)-hover;
    cursor: pointer;
  }
}
