@use '@sass/colors.scss' as *;
@use '@sass/variables.scss' as *;

.footer {
  width: 100%;
  height: fit-content;
  background: var(--main-turquoise);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;

  &__content {
    width: 100%;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  &__socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;

    .socialIcon {
      padding: 0.75rem;
      transition: all 0.3s ease-in-out;

      svg {
        max-width: 2rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &__logo {
    position: relative;
    display: flex;
    justify-content: center;
    height: 3rem;
    width: 7rem;
    padding-bottom: 2rem;
    img {
    }
  }

  &__legal {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      border: 1px solid white;
      border-radius: 1rem;
      color: white;
      font-size: 0.8rem;
      padding: 0.5rem 1rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: white;
        color: var(--main-turquoise);
      }
    }
  }
}

@media (width<450px) {
  .footer {
    flex-direction: column;
    height: 15rem;

    &__content {
      flex-direction: column;
      gap: 1rem;
      padding: 0;
    }

    &__links {
      justify-content: center;
      flex-direction: column;
    }
  }
}
