@use '@sass/colors.scss' as *;
@use '@sass/variables.scss' as *;

.footer {
  width: 100%;
  height: fit-content;
  background: var(--main-purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    max-width: 1440px;
    margin: 0 auto;

    padding: 1rem;
    padding-top: 2rem;
  }

  &__socialIcons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .socialIcon {
      padding: 0 1rem;
      transition: all 0.3s ease-in-out;

      svg {
        max-width: 2.3rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          fill: var(--main-purple)-hover;
        }
      }
    }

    #biggerSvg {
      max-width: 1.9rem;
      padding-left: 0.2rem;
      padding-right: 0.2rem;
    }
  }

  &__logo {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 4rem;
    width: 14rem;
    padding-bottom: 2rem;
  }

  &__legal {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    a {
      color: white;
      font-size: 0.8rem;
      padding: 1rem;
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    &__content {
      padding-bottom: 3rem;
    }
  }
}
